@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
}




@section Css{
    <link rel="stylesheet" href="~/assets/scss/password/forgotPass.css">
}



<!-- Main-part-start -->
<main>
    <section id="bg-img">
        <div class="img">
            <div class="event wow fadeInUp" data-wow-delay="100ms">
                <h2>Password Reset</h2>
            </div>
        </div>
    </section>

    <section id="resset">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="content">
                        <form asp-controller="Account" asp-action="ForgetPassword" method="post">
                            <div class="data">
                                <label for="email"> Email address</label>
                                <input asp-for="Email" placeholder="Enter E-mail">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <button type="submit" class="button-part">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scrollBtn" class="mt-4">
        <div class="btn">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </section>

</main>
<!-- Main-part-end -->
@section Scripts {
    <script src="~/assets/js/common.js"></script>
    <script src="~/assets/js/password/forgotPass.js"></script>
    <script src="~/assets/js/cart.js"></script>
    <partial name="_ValidationScriptsPartial" />

}

