@model LoginVM
@{
    ViewData["Title"] = "SignIn";
}

@section Css{
    <link rel="stylesheet" href="~/assets/scss/login/login.css">
}

<!-- Main-part-start -->
<main>
    <section id="bg-img">
        <div class="img">
            <div class="login wow fadeInUp" data-wow-delay="100ms">
                <h2>Login</h2>
            </div>
        </div>
    </section>

    <section id="signIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login wow fadeInUp" data-wow-delay="100ms">
                        <h3>Welcome Back!</h3>
                        <div class="content" asp-validation-summary="All">
                            <form asp-action="SignIn" method="post">
                                <div class="data">
                                    <label for="email"> Email address</label>
                                    <input asp-for="EmailOrUsername" placeholder="Enter E-mail">
                                    <span class="text-danger" asp-validation-for="EmailOrUsername"></span>
                                </div>
                                <div class="data mt-4">
                                    <label for="password"> Password</label>
                                    <input asp-for="Password"  placeholder="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>

                                </div>

                                <button type="submit" class="button-part">Login</button>
                                <p class="forgot mt-2"><a asp-controller="Account" asp-action="ForgetPassword">Forgot your password?</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="signUp mt-3 wow fadeInUp" data-wow-delay="100ms">
                        <p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign up for One Sound</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scrollBtn" class="mt-4">
        <div class="btn">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </section>
</main>
<!-- Main-part-end -->

@section Scripts {
    <script src="~/assets/js/common.js"></script>
    <script src="~/assets/js/login/login.js"></script>
    <script src="~/assets/js/cart.js"></script>
    <partial name="_ValidationScriptsPartial" />

}