@model ShopVM
@{
    ViewData["Title"] = "Index";
}


@section Css{
    <link rel="stylesheet" href="~/assets/scss/shop/shop.css">
}


<!-- Main-part-start -->
<main>
    <section id="bg-img">
        <div class="img">
            <div class="event wow fadeInUp" data-wow-delay="100ms">
                <h2>Shop</h2>
            </div>
        </div>
    </section>

    <section id="shop">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 my-3">
                    <div class="shop-area">
                        <div class="image">
                            <img src="~/assets/images/podcast.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <h6>Click for discover podcasts</h6>
                            <div class="button-part">
                                <button><a asp-controller="Podcast" asp-action="Index">Discover<i class="fa-solid fa-angles-right"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-3">
                    <div class="shop-area">
                        <div class="image">
                            <img src="~/assets/images/album1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <h6>Click for discover albums</h6>
                            <div class="button-part">
                                <button><a asp-controller="Album" asp-action="Index">Discover<i class="fa-solid fa-angles-right"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-3">
                    <div class="shop-area">
                        <div class="image">
                            <img src="~/assets/images/playlist.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <h6>Click for discover playlists</h6>
                            <div class="button-part">
                                <button><a asp-controller="Playlist" asp-action="Index">Discover<i class="fa-solid fa-angles-right"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-3">
                    <div class="shop-area">
                        <div class="image">
                            <img src="~/assets/images/hit.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <h6>Click for discover hits</h6>
                            <div class="button-part">
                                <button><a asp-controller="Song" asp-action="Index">Discover<i class="fa-solid fa-angles-right"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-3">
                    <div class="shop-area">
                        <div class="image">
                            <img src="~/assets/images/event.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <h6>Click for discover events</h6>
                            <div class="button-part">
                                <button><a asp-controller="Event" asp-action="Index">Discover<i class="fa-solid fa-angles-right"></i></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scrollBtn">
        <div class="btn ">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </section>
</main>
<!-- Main-part-end -->
@section Scripts {
    <script src="~/assets/js/shop/shop.js"></script>
}