@model EventVM
@{
    ViewData["Title"] = "Index";
}


@section Css{
    <link rel="stylesheet" href="~/assets/scss/events/events.css">
}




<!-- Main-part-start -->
<main>
    <section id="bg-img">
        <div class="img">
            <div class="event wow fadeInUp" data-wow-delay="100ms">
                <h2>Events</h2>
            </div>
        </div>
    </section>

    <section id="events" data-count=@ViewBag.count>
        <div class="container">
            <div class="row" id="parent">
                <partial name="_EventPartial" model="@Model.Events" /> 
            </div>
            <div class="col-12 button">
                <button class="btn btn-primary show-more-btn">
                    Load more <i class="fa-solid fa-angles-right"></i>
                </button>
                <button class="btn btn-primary show-less-btn d-none">
                    Load less <i class="fa-solid fa-angles-right"></i>
                </button>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="bg-image mt-5">
            <div class="data  wow fadeInUp" data-wow-delay="100ms">
                <p>See what’s new</p>
                <h2>Get in touch</h2>
                <form method="post" asp-controller="Event" asp-action="PostSubscribe">
                    <input asp-for="Email" placeholder="E-mail">
                    <span class="text-danger" asp-validation-for="Email">@ViewBag.error</span>
                    <button type="submit"><a>Send<i class="fa-solid fa-angles-right"></i></a></button>
                </form>
            </div>
        </div>
    </section>

    <section id="scrollBtn">
        <div class="btn ">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </section>
</main>
<!-- Main-part-end -->
@section Scripts{
    <script src="~/assets/js/events/events.js"></script>
    <script src="~/assets/js/event.js"></script>
}

