@model IEnumerable<Event>

@foreach (var item in Model)
{
    <div class="col-12 col-md-6 col-lg-4">
        <div class="event-area my-5 wow fadeInUp" data-wow-delay="100ms">
            <div class="image">
                <img src="~/assets/images/@item.Image" alt="">
            </div>
            <div class="text-part">
                <h4>@item.EventName</h4>
                <div class="part">
                    <a href="#" class="event-place">@item.Location</a>
                    <a href="#" class="event-date">@item.CreatedDate.ToString("MMMM dd, yyyy")</a>
                </div>
            </div>
        </div>
    </div>
}
